In [2]:
!pip install pandas sqlalchemy

Requirement already satisfied: pandas in c:\users\a9666\appdata\local\programs\python\python313\lib\site-packages (2.3.1)
Requirement already satisfied: sqlalchemy in c:\users\a9666\appdata\local\programs\python\python313\lib\site-packages (2.0.43)
Requirement already satisfied: numpy>=1.26.0 in c:\users\a9666\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.3.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\a9666\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\a9666\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\a9666\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: greenlet>=1 in c:\users\a9666\appdata\local\programs\python\python313\lib\site-packages (from sqlalchemy) (3.2.4)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\a9666\appdata\local\programs\python\python313\lib\site-packages (from sqlalchemy) (4.14.1)
Requirement already satisfied: six>=1.5 in c:\users\a9666\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [5]:
import pandas as pd
import os
from sqlalchemy import create_engine
import logging
import time

# Configure logging
logging.basicConfig(
    filename="logs/ingestion_db.log",
    level=logging.INFO,
    format="%(asctime)s - %(levelname)s - %(message)s",
    filemode="a"
)

# Create SQLite database engine
engine = create_engine('sqlite:///inventory.db')

In [6]:
def ingest_db(df, table_name, engine, chunksize=50000):
    """Ingests DataFrame into database"""
    df.to_sql(table_name, con=engine, if_exists='replace', index=False, chunksize=chunksize)
    logging.info(f"Inserted {df.shape[0]} rows into '{table_name}' table.")
    print(f"Inserted {df.shape[0]} rows into '{table_name}' table.")

def load_raw_data():
    """Loads CSV files as DataFrames and ingests them into the database"""
    start = time.time()

    for file in os.listdir('data'):
        if file.endswith('.csv'):
            file_path = os.path.join('data', file)
            logging.info(f"Processing {file}...")
            print(f"Processing {file}...")

            try:
                # Check file size in MB
                file_size = os.path.getsize(file_path) / (1024 * 1024)

                if file_size > 100:
                    logging.info(f"{file} is large ({file_size:.2f} MB). Ingesting in chunks...")
                    print(f"{file} is large ({file_size:.2f} MB). Ingesting in chunks...")
                    chunk_size = 50000
                    for chunk in pd.read_csv(file_path, chunksize=chunk_size, low_memory=False):
                        ingest_db(chunk, file[:-4], engine)
                    logging.info(f"{file} ingested successfully in chunks.")
                else:
                    df = pd.read_csv(file_path, low_memory=False)
                    ingest_db(df, file[:-4], engine)
                    logging.info(f"{file} ingested successfully.")

            except Exception as e:
                logging.error(f"Failed to ingest {file}. Error: {e}")
                print(f"⚠️ Error while ingesting {file}: {e}")

    end = time.time()
    total_time = (end - start) / 60
    logging.info("-----Ingestion Complete-----")
    logging.info(f"Total Time Taken: {total_time:.2f} minutes")
    print(f"✅ All ingestion complete. Total time: {total_time:.2f} minutes")

In [7]:
load_raw_data()

Processing begin_inventory.csv...
Inserted 206529 rows into 'begin_inventory' table.
Processing end_inventory.csv...
Inserted 224489 rows into 'end_inventory' table.
Processing purchases.csv...
purchases.csv is large (344.83 MB). Ingesting in chunks...
Inserted 50000 rows into 'purchases' table.
Inserted 50000 rows into 'purchases' table.
Inserted 50000 rows into 'purchases' table.
Inserted 50000 rows into 'purchases' table.
Inserted 50000 rows into 'purchases' table.
Inserted 50000 rows into 'purchases' table.
Inserted 50000 rows into 'purchases' table.
Inserted 50000 rows into 'purchases' table.
Inserted 50000 rows into 'purchases' table.
Inserted 50000 rows into 'purchases' table.
Inserted 50000 rows into 'purchases' table.
Inserted 50000 rows into 'purchases' table.
Inserted 50000 rows into 'purchases' table.
Inserted 50000 rows into 'purchases' table.
Inserted 50000 rows into 'purchases' table.
Inserted 50000 rows into 'purchases' table.
Inserted 50000 rows into 'purchases' table.
Inserted 50000 rows into 'purchases' table.
Inserted 50000 rows into 'purchases' table.
Inserted 50000 rows into 'purchases' table.
Inserted 50000 rows into 'purchases' table.
Inserted 50000 rows into 'purchases' table.
Inserted 50000 rows into 'purchases' table.
Inserted 50000 rows into 'purchases' table.
Inserted 50000 rows into 'purchases' table.
Inserted 50000 rows into 'purchases' table.
Inserted 50000 rows into 'purchases' table.
Inserted 50000 rows into 'purchases' table.
Inserted 50000 rows into 'purchases' table.
Inserted 50000 rows into 'purchases' table.
Inserted 50000 rows into 'purchases' table.
Inserted 50000 rows into 'purchases' table.
Inserted 50000 rows into 'purchases' table.
Inserted 50000 rows into 'purchases' table.
Inserted 50000 rows into 'purchases' table.
Inserted 50000 rows into 'purchases' table.
Inserted 50000 rows into 'purchases' table.
Inserted 50000 rows into 'purchases' table.
Inserted 50000 rows into 'purchases' table.
Inserted 50000 rows into 'purchases' table.
Inserted 50000 rows into 'purchases' table.
Inserted 50000 rows into 'purchases' table.
Inserted 50000 rows into 'purchases' table.
Inserted 50000 rows into 'purchases' table.
Inserted 50000 rows into 'purchases' table.
Inserted 50000 rows into 'purchases' table.
Inserted 50000 rows into 'purchases' table.
Inserted 22474 rows into 'purchases' table.
Processing purchase_prices.csv...
Inserted 12261 rows into 'purchase_prices' table.
Processing sales.csv...
sales.csv is large (1522.76 MB). Ingesting in chunks...
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 50000 rows into 'sales' table.
Inserted 25363 rows into 'sales' table.
Processing vendor_invoice.csv...
Inserted 5543 rows into 'vendor_invoice' table.
✅ All ingestion complete. Total time: 3.69 minutes

In [9]:
from sqlalchemy import inspect

# Create inspector object
inspector = inspect(engine)

# Get all table names
tables = inspector.get_table_names()

print("Tables in database:", tables)

Tables in database: ['begin_inventory', 'end_inventory', 'purchase_prices', 'purchases', 'sales', 'vendor_invoice']